version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: tguard-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: tguard
      POSTGRES_PASSWORD: tguard123
      POSTGRES_DB: tguard_db
    volumes:
      - pgdata:/var/lib/postgresql/data

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: tguard-zookeeper
    restart: always
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      KAFKA_HEAP_OPTS: "-Xms128m -Xmx128m"
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: tguard-kafka
    restart: always
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://tguard-kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_HEAP_OPTS: "-Xms256m -Xmx256m"

  redis:
    image: redis:7
    container_name: tguard-redis
    restart: always
    ports:
      - "6379:6379"

  tguard-backend:
    image: 021518180184.dkr.ecr.ap-northeast-2.amazonaws.com/tguard-backend:latest
    container_name: tguard-backend
    restart: always
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - kafka

volumes:
  pgdata:
